.contact-form {
  .container {
    max-width: 900px;
  }
  form {
    display: grid;
    gap: 1rem;

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}