/* === Colors === */
$primary-color: #184d47;
$secandary-color: #fad586;
$tertiary-color: #96bb7c;
$light-color: #d6efc7;
$white-color: #fff;
$dark-color: #111;
$darkGrey-color: #444;

/* === Fonts === */
// font family
$main-font: 'Poppins', sans-serif;

// font weight
$fw-rg: 400;
$fw-md: 500;
$fw-b: 700;

// font size (small devices)
$fs-lg: 2.5rem;
$fs-md: 1.6rem;
$fs-sm: 1.125rem;

// font size (large devices)
$fs-ld-lg: 4rem;
$fs-ld-md: 2rem;
$fs-ld-sm: 1.125rem;

/* === Line height === */
$lh-v: 1.6;